
.nav {
    grid-area: nav;   
    box-shadow: black 2px 2px 5px;
    
    
  }

  .nav img {
    width: 80px;
    height: 80px;
  }

.item {
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    margin-top: 20px;
    border-bottom: solid 1px black;


}
a{
	text-decoration: none;
}




.nav img:hover {
    margin-top:10px;
}