.profile_head {
    grid-area: profile_head;
    background-color: brown; 
    border-radius: 20px;
  }

 .profilePicture {
 	margin: 50px auto 0px auto;
 	width: 200px;
 	height: 200px;
 	border-radius: 50%;
 }
 .profilePicture img {
width: 200px;
 	height: 200px;
 	border-radius: 50%;
 	 }

 	 .status {
 	 	padding: 0px 20px 0px 20px;
 	 	border:2px solid black;
 	 	border-radius: 10px;

 	 }

 	 .statusDiv {
 	 	margin-top: 60px;
 	 	margin-right: 20px;
 	 	text-align: right;
 	 }

 	 .name{
 	 	text-align: center;
 	 }