.app {
  display: grid;
  margin: 0 auto;

  grid-template-areas:
  "head head"
  "nav content";

  grid-template-rows: 60px 100%;
  grid-template-columns: 100px 10fr;

}

.content {
  grid-area: content;
}
















